:target {
  background: cornsilk; /* or whatever color you want */
}
:target::before{
  content: "";
  display: block;
  height: 90px;/* 90px is arbitrary. Use whatever works to get you past the sticky header */
  margin: -90px 0 0; 
}
